@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}
.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}
.form-container {
  width: 400px;
  margin: auto;
}
.ui.red.button:focus,
ui.red,
buttons .button:focus {
  background-color: #ca1010;
}
